{% extends 'AppBundle:Admin:navbar.html.twig' %}

{% block title %}{{ 'admin.tasks.index.title' | trans({}, 'admin') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 page-header">
            <h1>{{ 'task.actions.index' | trans({}, 'entities') }}</h1>
        </div>
    </div>
    <div class="row">
        {% if tasks | length > 0 %}
            {% for task in tasks %}
                <div class="col-md-4">
                    <div class="col-md-10 col-md-offset-1 well text-center">
                        <p>{{ task.name }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
