{% extends 'AppBundle:Admin:navbar.html.twig' %}

{% block title %}{{ 'admin.statuses.add.title' | trans({}, 'admin') }}{% endblock %}

{% form_theme form 'AppBundle:Default:bootstrap_form.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 page-header">
            <h1>{{ 'admin.statuses.add.header' | trans({}, 'admin') }}</h1>
        </div>
    </div>
    {{ form(form, {'method': 'POST'}) }}
{% endblock %}
