{% extends '::base.html.twig' %}

{% block body %}
    <h1>
        You've successfully registered!
        <small>Now go ahead and
              <a href="{{ path('user_login') }}">
                    log in
              </a>.
        </small>
    </h2>
{% endblock %}
