{% extends 'AppBundle:Admin:navbar.html.twig' %}

{% block title %}{{ 'admin.dashboard.title' | trans({}, 'admin') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12 page-header">
            <h1>{{ 'dashboard.hello' | trans({'%name%':current_user_name}, 'dashboard') }}</h1>
        </div>
    </div>
{% endblock %}
