{% extends 'AppBundle:Admin:navbar.html.twig' %}

{% block title %}{{ 'admin.dashboard.title' | trans({}, 'admin') }}{% endblock %}

{% block content %}
    <h1>
        Hello there!
    </h2>
{% endblock %}
