{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/structure.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/body.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/exception.css') }}" />
{% endblock %}

{% block body %}
    <nav>
        <a href="{{ path('user_registration') }}">
            Register
        </a>
    </nav>
    <h1>
        Hello there!
    </h2>
{% endblock %}
