{% extends 'AppBundle:Default:navbar.html.twig' %}

{% block title %}{{ 'dashboard.title' | trans({}, 'dashboard') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12 page-header">
            <h1>{{ 'app.welcome.hello' | trans({}, 'application') }}</h1>
        </div>
    </div>
{% endblock %}
