{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Project delete</h1>

    {{ form(delete_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('projects') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
